@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__field/popup__field.css);
@import url(./_opened/popup_opened.css);
@import url(./__field/_name/popup__field_name.css);
@import url(./__field/_profession/popup__field_profession.css);


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}

/*не могу разобраться - почему если делать по БЭМ - скрипт не находит модификатор и недобавляет его
А если вставлять сюда - все нормально*/

.popup_opened {
  display: block;
}
