@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__field/popup__field.css);
@import url(./__field/_name/popup__field_name.css);
@import url(./__field/_profession/popup__field_profession.css);
@import url(./__field/_place-name/popup__field_place-name.css);
@import url(./__field/_place-link/popup__field_place-link.css);
@import url(./__image/popup__image.css);
@import url(./_opened/popup_opened.css);
@import url(./_hidden/popup_hidden.css);
@import url(./__fieldset/popup__fieldset.css);
@import url(./__save-button/_disabled/popup__save-button_disabled.css);
@import url(./__field/_error/popup__field_error.css);
@import url(./__field/_error-visible/popup__field_error-visible.css);
@import url(./__field/_type/popup__field_type_error.css);


.popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup_hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}



