.element__delete-button {
  background: url(../../../images/recycle.svg) center no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  border: none;
  position: absolute;
  top: 21px;
  right: 15px;
  z-index: 10;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s linear;
}
;

