.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  margin-left: 17px;
  align-self: center;
  /*margin-top: -17px;*/
}

@media (max-width: 460px) {
  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
  }
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s linear;
}
