.profile__avatar-edit-button {
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile__avatar-edit-button:hover {
  background-image: url(../../../images/avatar-button.png);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.8);
  opacity: 0.6;
  transition: 0.5s linear;
}
