@import url(./__item/elements__item.css);
@import url(./__image/elements__image.css);
@import url(./__info/elements__info.css);
@import url(./__name/elements__name.css);


.elements {
  max-width: 882px;
  /*width: 100%;*/
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 21px;
  line-height: 0;
}

@media (max-width: 620px) {
  .elements {
    max-width: 620px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 380px) {
  .elements {
    max-width: 380px;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 19px;
    padding-right: 19px;
  }
}
