@import url(./__card/element__card.css);
@import url(./__image/element__image.css);
@import url(./__like-button/element__like-button.css);
@import url(./__name/element__name.css);
@import url(./__info/element__info.css);
@import url(./__delete-button/element__delete-button.css);
@import url(./__image-screen/element__image-screen.css);
@import url(./__image-name/element__image-name.css);
@import url(./__image-container/element__image-container.css);
@import url(./__like-button/_active/element__like-button_active.css);
@import url(./__like-box/element__like-box.css);
@import url(./__like-numbers/element__like-numbers.css);




.element {
  position: relative;
  max-width: 282px;
  width: 100%;
  min-height: 362px;
  height: 100%;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

