
.elements__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  line-height: 0;
  margin: 0 auto;
}

@media (max-width: 620px) {
  .elements__list {
    max-width: 620px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 380px) {
  .elements__list {
    max-width: 380px;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 19px;
    padding-right: 19px;
  }
}
